@import './variables';

.footerContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:$base-light-grey;
  color: $base-black-color;
  text-align: center;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContentText{
  font-size: 12px;
  font-weight: $base-weight-400;
  line-height: 16px;
}