@import './variables';

.headerContainer{
  background-color: $base-primary-color;
  width: 100%;
  height: auto ;
  min-height: 48px;
  max-height: 101px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.headerLogo{
  display: flex;
  color: $base-light-color;
  justify-content: center;
  align-items: flex-end;
}

.headerLogoMKS{
  font-size: 32px;
  font-weight: 600;
  line-height: 19px;
}

.headerLogoSistemas{
  font-size: 16px;
  font-weight: 300;
  line-height: 8px;
  margin-left: 4px;
}

.minicartButtonContainer{
  width: 52px;
  height: 26px;
  background-color: $base-light-color;
  border-radius: 8px;
  padding: 4px;

  &:hover{
    opacity: 0.8;
  }
}

.minicartButtonItem{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  align-items: center;
  justify-content: space-around;
}

.minicartButtonIcon{
  width: 14px;
  height: 14px;
}

.minicartCounter{
  font-size: 14px;
  font-weight: 700;

}


@media screen and (min-width: 768px){
  .headerContainer{
    padding: 28px 70px;
  }

  .headerLogoMKS{
    font-size: 40px;
  }

  .headerLogoSistemas{
    font-size: 20px;
  }

  .minicartButtonContainer{
    width: 90px;
    height: 45px;
    padding: 11px 27px 12px 15px;
  }

  .minicartButtonIcon{
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }

  .minicartCounter{
    font-size: 20px;
  }
}