@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Variáveis de estilo
  $base-primary-color: #0F52BA;
  $base-light-color: #FFFFFF;
  $base-grey-color: #373737;
  $base-black-color: #000000;
  $base-black-color-2: #2C2C2C;
  $base-light-grey: #EEEEEE;
  $base-font-family: "Montserrat", sans-serif;
  $base-weight-300: 300;
  $base-weight-400: 400;
  $base-weight-600: 600;
  $base-weight-700: 700;

  
